
.encoding-item {
  border-bottom: 1px dashed black;
  padding-bottom: 15px;
  /* height:140px; */
}

.encoding-item-title{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}